.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.33s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  right: 0px;
  bottom: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-l);

  .menu_item {
    margin: 2px 4px;
    padding: 2px 4px;
  }
  .menu_item:hover {
    // color: aqua;
  }
}
