.app.dark {
  --bg-color: #00004b;
  --inverted-bg-color: #424242;

  --primary-color: #ffffff;
  --secondary-color: #c7c7c7;
  --inverted-primary-color: #0040ff;
  --inverted-secondary-color: #6395ff;
}
